:root {
  --primary-font: "Barlow Condensed", sans-serif;
  --secondary-font: "Bellefair", serif;
}

.navlink,
.paragraph h2,
.destination-tags,
.title,
.member-bio,
.tech-description,
.btn-box .btn,
.description,
.static-text,
.intro {
  font-family: var(--primary-font);
}

.header .active,
.header .navlink .active:hover {
  border-bottom: 4px solid white;
}

.header .navlink:hover {
  border-bottom: 4px solid rgb(129, 129, 129);
}

.paragraph span,
.explore-btn,
.value,
.destination-name,
.member-role,
.member-name,
.tech-name {
  font-family: var(--secondary-font);
}