:root {
  --primary-font: "Barlow Condensed", sans-serif;
  --secondary-font: "Bellefair", serif;
}

.navlink,
.paragraph h2,
.destination-tags,
.title,
.member-bio,
.tech-description,
.btn-box .btn,
.description,
.static-text,
.intro {
  font-family: var(--primary-font);
}

.header .active,
.header .navlink .active:hover {
  border-bottom: 4px solid white;
}

.header .navlink:hover {
  border-bottom: 4px solid rgb(129, 129, 129);
}

.paragraph span,
.explore-btn,
.value,
.destination-name,
.member-role,
.member-name,
.tech-name {
  font-family: var(--secondary-font);
}

/* Loader */

.loader {
  margin: 6rem auto;
  border: 0.6rem solid rgb(218, 218, 218);
  border-radius: 50%;
  border-top: 0.6rem solid #5473d8;
  width: 5rem;
  height: 5rem;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}